In [10]:
import requests
import pandas as pd

In [11]:
url = 'https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json'

In [12]:
response = requests.get(url)
if response.status_code == 200:
    json=response.json()
    print("下載成功~")
else:
    print("下載失敗")

下載成功~

In [13]:
df = pd.DataFrame(json)

In [14]:
df.head(1)

,sno,sna,tot,sbi,sarea,mday,lat,lng,ar,sareaen,snaen,aren,bemp,act,srcUpdateTime,updateTime,infoTime,infoDate
0,500101001,YouBike2.0_捷運科技大樓站,28,1,大安區,2023-10-28 19:46:05,25.02605,121.5436,復興南路二段235號前,Daan Dist.,YouBike2.0_MRT Technology Bldg. Sta.,No.235， Sec. 2， Fuxing S. Rd.,27,1,2023-10-28 19:46:37,2023-10-28 19:46:51,2023-10-28 19:46:05,2023-10-28

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sno            1320 non-null   object
 1   sna            1320 non-null   object
 2   tot            1320 non-null   int64
 3   sbi            1320 non-null   int64
 4   sarea          1320 non-null   object
 5   mday           1320 non-null   object
 6   lat            1320 non-null   float64
 7   lng            1320 non-null   float64
 8   ar             1320 non-null   object
 9   sareaen        1320 non-null   object
 10  snaen          1320 non-null   object
 11  aren           1320 non-null   object
 12  bemp           1320 non-null   int64
 13  act            1320 non-null   object
 14  srcUpdateTime  1320 non-null   object
 15  updateTime     1320 non-null   object
 16  infoTime       1320 non-null   object
 17  infoDate       1320 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 185.8+ KB

In [16]:
selected_columns = df[["sno", "sna", "tot", "sbi", "sarea", "mday", "lat", "lng", "ar", "bemp"]]
renamed_df = selected_columns.rename(columns={
    "sno": "站點代號",
    "sna": "場站中文名稱",
    "tot": "場站總停車格",
    "sbi": "場站目前車輛數量",
    "sarea": "場站區域",
    "mday": "資料更新時間",
    "lat": "緯度",
    "lng": "經度",
    "ar": "地點",
    "bemp": "空位數量"
})

In [17]:
renamed_df.head()

,站點代號,場站中文名稱,場站總停車格,場站目前車輛數量,場站區域,資料更新時間,緯度,經度,地點,空位數量
0,500101001,YouBike2.0_捷運科技大樓站,28,1,大安區,2023-10-28 19:46:05,25.02605,121.54360,復興南路二段235號前,27
1,500101002,YouBike2.0_復興南路二段273號前,21,1,大安區,2023-10-28 19:46:05,25.02565,121.54357,復興南路二段273號西側,20
2,500101003,YouBike2.0_國北教大實小東側門,16,9,大安區,2023-10-28 19:46:05,25.02429,121.54124,和平東路二段96巷7號,6
3,500101004,YouBike2.0_和平公園東側,11,0,大安區,2023-10-28 19:46:05,25.02351,121.54282,和平東路二段118巷33號,11
4,500101005,YouBike2.0_辛亥復興路口西北側,16,3,大安區,2023-10-28 19:46:05,25.02153,121.54299,復興南路二段368號,13

In [18]:
df_district = renamed_df.groupby(by='場站區域')['場站總停車格'].count()
df_district

場站區域
中山區       140
中正區       112
信義區       102
內湖區       159
北投區        84
南港區        88
士林區       117
大同區        59
大安區       170
文山區        85
松山區        81
臺大公館校區     53
萬華區        70
Name: 場站總停車格, dtype: int64